---
import Layout from "src/layout.astro";
import { notion } from "src/notion/client";
import RenderBlocks from "src/notion/blocks.astro";
import { getGalleries, type Gallery } from "src/notion/gallery";

export async function getStaticPaths() {
  const galleries = await getGalleries(true);

  return galleries.map((gallery) => ({
    params: { slug: gallery.slug },
    props: gallery
  }));
}

const { id, title } = Astro.props as Gallery;

const blocks = await notion.blocks.children.list({ block_id: id });
---

<Layout title={title}>
  <h1 class="text-4xl">{title}</h1>

  <RenderBlocks blocks={blocks.results} />
</Layout>
