@import "tailwindcss";

@theme {
  --font-body: "Alice", serif;
  --font-header: "Prata", serif;

  --animate-fade-in: fade-in 1s ease-in-out forwards;

  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
