@import "tailwindcss";

@theme {
  --font-lora: "Lora", serif;

  --animate-fade-in: fade-in 1s ease-in-out forwards;

  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
