@import "tailwindcss";

@theme {
  --font-body: "Alice", serif;
  --font-header: "Prata", serif;

  --animate-fade-in: fade-in 1s ease-in-out forwards;

  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

@layer base {
  section {
    a {
      @apply underline;
    }

    ul {
      @apply list-disc ml-4 mb-2;
    }

    h2 {
      @apply font-header;
    }

    h3 {
      @apply uppercase font-header font-bold text-lg mt-3 mb-2;
    }

    h4 {
      @apply font-header font-bold mt-2 mb-1;
    }

    p {
      @apply mb-2;
    }
  }
}
