---
import "src/index.css";

import { getEntries } from "src/lib/contentful";
import type { PostEntry } from "src/types";

const posts = await getEntries<PostEntry>(Astro.request.url, {
  include: 0,
  content_type: "post",
  select: ["fields.slug", "fields.title"]
});
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Marisaac Worldly Adventures</title>
  </head>
  <body>
    {
      posts.items.map((post) => (
        <a class="block" href={`/post/${post.fields.slug}`}>
          {post.fields.title}
        </a>
      ))
    }

    <pre>{JSON.stringify(Astro, null, 2)}</pre>
  </body>
</html>
