---
import "styles/index.css";

import { getEntries } from "src/lib/contentful";
import type { PostEntry } from "src/types";
import { Home } from "src/components/home";

const entries = await getEntries<PostEntry>({
  include: 1,
  content_type: "post",
  order: "-fields.publishDate",
  select: ["sys.id", "fields.title", "fields.slug", "fields.publishDate", "fields.image"]
});
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nanum+Myeongjo:bold&display=swap" />
    <title>Astro</title>
  </head>
  <body>
    <Home posts={entries.items} includes={entries.includes} />
  </body>
</html>
