---
import Layout from "src/layout.astro";
import { getPosts } from "src/notion/post";
import { Image } from "astro:assets";
import { richTextToString } from "src/notion/rich-text";

const posts = await getPosts();
---

<Layout title="Marissa & Isaac">
  {
    posts.map((post) => {
      if (post.slug) {
        return (
          <a href={`blog/${post.slug}`}>
            {post.title}
            {post.image && <Image src={post.image} alt="" width={200} height={200} />}
          </a>
        );
      }
    })
  }
</Layout>
