---
import "@/styles/wedding.css";
import WeddingSection from "@/templates/wedding-section.astro";
import { Image } from "astro:assets";
import imageOne from "src/assets/wedding/1.jpg";
import imageTwo from "src/assets/wedding/2.jpg";
import imageThree from "src/assets/wedding/3.jpg";
import imageFour from "src/assets/wedding/4.jpg";
import imageFive from "src/assets/wedding/5.jpg";

const images = [imageOne, imageTwo, imageThree, imageFour, imageFive];
---

<html lang="en" class="w-full bg-amber-950 text-amber-950">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Marissa & Isaac Wedding" />

    <title>Marissa & Isaac Wedding</title>

    <link rel="icon" href="/assets/favicon.svg" type="image/svg+xml" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Alice&family=Prata&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="font-body">
    {
      images.map((image, i) => (
        <Image
          src={image}
          widths={[2400]}
          loading={i === 0 ? "eager" : "lazy"}
          alt="Isaac & Marissa"
          class="fixed -z-50 w-[100dvw] h-[100dvh] inset-0 object-cover transition-[opacity] duration-1000"
          style={{ opacity: i === 0 ? 100 : 0 }}
        />
      ))
    }

    <section
      class="p-8 text-center drop-shadow-xl text-amber-50 uppercase font-bold font-header mt-[2dvh] mb-[30dvh] flex flex-col gap-4"
    >
      <h1 class="text-6xl" style={{ textShadow: "0px 0px 1px #61003e" }}>
        Marissa<br />&<br />Isaac
      </h1>

      <time
        class="text-3xl"
        datetime="2025-09-25"
        style={{ textShadow: "0px 0px 1px #61003e" }}>September 5th, 2025</time
      >
    </section>

    <div class="flex flex-col gap-32">
      <WeddingSection title="Event Details">
        <div class="flex flex-col gap-4 text-center">
          <p class="text-lg">
            Whidbey Island, WA

            <a
              class="block underline underline-offset-4"
              href="https://maps.app.goo.gl/YwcNLH65aYBXEQ4J9"
              target="_blank"
            >
              5491 Bayview Rd, Langley, WA 98260
            </a>
          </p>

          <ul>
            <li>Ceremony Time: 4:00 pm</li>
            <li>Reception to follow</li>
            <li>Dress Code: Garden Party, semi-formal</li>
          </ul>
        </div>
      </WeddingSection>

      <WeddingSection title="Wedding Party">
        <div class="flex flex-col gap-4 text-center">
          <div>
            <h3 class="uppercase font-lg font-bold font-heading mb-1">
              Bridesmaids
            </h3>
            <ul>
              <li>Juliana Carlson (Mount) (MoH)</li>
              <li>Diana Mount</li>
              <li>Mary Shaffer</li>
              <li>Morgan Olson</li>
              <li>Sophia Urrutia</li>
            </ul>
          </div>

          <div>
            <h3 class="uppercase font-lg font-bold font-heading mb-1">
              Groomsmen
            </h3>
            <ul>
              <li>Scot Bearss (BM)</li>
              <li>Jonny Davis</li>
              <li>Brian Graves</li>
              <li>Ezra Jacobs</li>
              <li>Dan White</li>
            </ul>
          </div>
        </div>
      </WeddingSection>

      <WeddingSection title="RSVP" />

      <WeddingSection title="Accommodations & Points of Interest">
        <div></div>
      </WeddingSection>
    </div>
  </body>

  <script>
    const images = document.querySelectorAll("img");

    document.querySelectorAll("section").forEach((section, s) => {
      new IntersectionObserver(
        ([entry]) => {
          if (entry.isIntersecting) {
            images.forEach((image, i) => {
              image.style.opacity = i === s ? "100" : "0";
            });
          }
        },
        { threshold: 0.25 }
      ).observe(section);
    });
  </script>
</html>
