---
import "styles/index.css";

import { getEntries } from "src/lib/contentful";
import type { PostEntry } from "src/types";
import { Post } from "src/components/post";

export async function getStaticPaths() {
  const { items: posts } = await getEntries<PostEntry>({
    include: 0,
    content_type: "post",
    select: ["sys.id", "fields.slug"]
  });

  return posts.map((post) => ({ params: { slug: post.fields.slug } }));
}

const entries = await getEntries<PostEntry>({
  limit: 1,
  include: 10,
  content_type: "post",
  "fields.slug": Astro.params.slug as string
});

const post = entries.items[0];
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{post.fields.title}</title>
  </head>
  <body>
    <Post includes={entries.includes} post={post} />
  </body>
</html>
