---
import "styles/index.css";

import { getEntries } from "src/lib/contentful";
import type { PostEntry } from "src/types";

export async function getStaticPaths() {
  const { items: posts } = await getEntries<PostEntry>({
    include: 0,
    content_type: "post",
    select: ["sys.id", "fields.slug"]
  });

  return posts.map((post) => ({ params: { slug: post.fields.slug } }));
}
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <h1>{Astro.props.slug}</h1>
  </body>
</html>
