section {
  display: none;
}

body.scroll .album {
  margin-top: 72px;
}

.album {
  margin: 4px 4px 4px 4px;
  display: grid;
  background-size: cover;
  grid-template-columns: repeat(24, 1fr);
  justify-items: stretch;
  align-items: stretch;
  gap: 0.25em;
}

.album img {
  border-radius: 0.25em;
  grid-column: span 3;
  grid-row: span 3;
}

.album img.featured {
  grid-column: span 6;
  grid-row: span 6;
}

@media (min-width: 800px) {
  .album {
    grid-template-columns: repeat(48, 1fr);
  }
  body.scroll .album {
    margin-top: 92px;
  }
}
