.title {
  margin: 0;
  text-align: center;
  font-size: 2em;
  padding: 1em;
  margin: 0.25em;
  font-weight: 400;
  border: 2px solid rgb(var(--c-vanilla));
  border-radius: 6px;
  font-size: 1.5em;
}

.gallery {
  display: grid;
  background-size: cover;
  grid-template-columns: repeat(12, 1fr);
  justify-items: stretch;
  align-items: stretch;
  padding: 0 0.5em;
  gap: 0.25em;
}

.gallery img {
  border-radius: 0.25em;
  grid-column: span 3;
  grid-row: span 3;
}

.gallery img:hover {
  outline: 1px solid rgb(var(--c-vanilla));
  cursor: pointer;
}

.gallery img.featured {
  grid-column: span 6;
  grid-row: span 6;
}

@media (min-width: 800px) {
  .title {
    font-size: 2em;
  }
  .gallery {
    padding: 0 0.5em;
    gap: 0.5em;
    grid-template-columns: repeat(24, 1fr);
  }
}
