body {
  margin: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.image {
  postion: relative;
}

.image img {
  position: absolute;
  width: 100%;
}

.fade-in {
  animation: fadeIn 250ms ease-in-out;
}