:root {
  --c-pink: 255, 173, 198;
  --c-purple: 145, 77, 118;
  --c-wine: 105, 153, 63;
  --c-vanilla: 233, 227, 193;
  --c-brown: 82, 79, 67;
  --c-drab: 64, 60, 45;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fly-up {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}

.fly-up {
  animation: fly-up 500ms forwards;
}

@keyframes fly-down {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

.fly-down {
  animation: fly-down 500ms forwards;
}

html {
  font-size: 17px;
}

body {
  margin: 0;
  font-family: "Playfair Display", serif;
  color: rgb(var(--c-vanilla));
  background-color: rgb(var(--c-drab));
  overflow-x: hidden;
}

img {
  opacity: 0;
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  object-position: center;
  background-size: cover;
  animation-name: fade-in;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}

@media (prefers-reduced-motion) {
  img {
    opacity: 1;
    animation: none;
  }
}
